.left {
  float: left;
  border: solid #cff 1px;
  color: purple;
  width: 133px;
  height: 333px;
  text-align: center;
  font-size: 33px;
}

.right {
  float: right;
  border:  solid #ccc 1px;
  font-size: 33px;
  color: purple;
  text-align: center;
  width: 133px;
  height: 333px;
}